{% extends 'base.html' %}
{% load static %}

{% block banner %}
     <div class="banner">
            <div class="banSlide">
                <ul class="bigpic">


                    <!--<li><img src="img/bannerImg-1.jpg" alt=""></li>-->
                    <!--<li><img src="img/bannerImg-2.jpg" alt=""></li>-->
                    <!--<li><img src="img/bannerImg-3.jpg" alt=""></li>-->
                    <!--<li><img src="img/bannerImg-4.jpg" alt=""></li>-->
                    <!--<li><img src="img/bannerImg-5.jpg" alt=""></li>-->
                    <!--<li><img src="img/bannerImg-6.jpg" alt=""></li>-->
                    <!--<li><img src="img/bannerImg-7.jpg" alt=""></li>-->
                    <!--<li><img src="img/bannerImg-8.jpg" alt=""></li>-->
                </ul>
                <ul class="smallIndex">
                    <li class="active"><a href="#" ></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
                <span  class="prev"></span>
                <span  class="next"></span>
            </div>
            <div class="introColumn">
                <div class="subIntro">
                    <ul>
                        <li>
                            <a href="#">
                                <b class="intro_icon1"></b>
                                自营正品直采
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <b class="intro_icon2"></b>
                                专业腕表导购
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <b class="intro_icon3"></b>
                                全国实体店体验
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <b class="intro_icon4"></b>
                                专业保养维修
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="produceSlide">
                <div class="produceSlide_">
                    <div class="proShow_wrap">
                        <div class="proShow_cont">
                            <a href="#"><img src="/static/img/proImg-1.jpg" alt=""></a>
                            <a href="#"><img src="/static/img/proImg-2.jpg" alt=""></a>
                            <a href="#"><img src="/static/img/proImg-3.jpg" alt=""></a>
                            <a href="#"><img src="/static/img/proImg-4.jpg" alt=""></a>
                        </div>
                        <div class="controlBtn">
                            <a href="#" class="pro_prev"></a>
                            <a href="#" class="pro_next"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}

{% block indexcontent %}
    <!--内容部分开始-->
        <div class="indexContent">
            <div class="hot panel_z">
                <div class="hot_wrap">
                    <div class="hot_wrap_">
                        <div class="hot_header">
                            <div class="hot_header_l">
                                <h3>
                                    <a href="#">
                                        热销首选
                                        <span class="hot_header_icon"></span>
                                    </a>
                                </h3>
                            </div>
                            <div class="hot_header_r"></div>
                        </div>
                        <div class="hot_banner">
                            <div class="hot_banner_">
                                <div class="hot_banner_view">
                                    <div class="hot_banner_view_pt">
                                        <!--<a href="#" class="ht_ban_a">-->
                                            <!--&lt;!&ndash;<img src="img/ht_bannerImg1.jpg" alt="">&ndash;&gt;-->
                                            <!--<div class="ht_title">-->
                                                <!--<p>高科技潜水表</p>-->
                                                <!--<p>搭载氧化锆陶瓷表圈</p>-->
                                            <!--</div>-->
                                        <!--</a>-->
                                        <!--<a href="#" class="ht_ban_a">-->
                                            <!--&lt;!&ndash;<img src="img/ht_bannerImg2.png" alt="">&ndash;&gt;-->
                                            <!--<div class="ht_title">-->
                                                <!--<p>全日历月相表</p>-->
                                                <!--<p>特制弓形陀 减少20%上链时间</p>-->
                                            <!--</div>-->
                                        <!--</a>-->
                                        <!--<a href="#" class="ht_ban_a">-->
                                            <!--&lt;!&ndash;<img src="img/ht_bannerImg3.png" alt="">&ndash;&gt;-->
                                            <!--<div class="ht_title">-->
                                                <!--<p>历史学家 古董手绘火焰纹</p>-->
                                                <!--<p>工艺源于133年前</p>-->
                                            <!--</div>-->
                                        <!--</a>-->
                                        <!--<a href="#" class="ht_ban_a">-->
                                            <!--&lt;!&ndash;<img src="img/ht_bannerImg4.jpg" alt="">&ndash;&gt;-->
                                            <!--<div class="ht_title">-->
                                                <!--<p>德式机械美学名表鉴赏</p>-->
                                                <!--<p>德国制造 工业4.0</p>-->
                                            <!--</div>-->
                                        <!--</a>-->
                                    </div>
                                    <div class="hot_banner_control">
                                        <span class="all_prev"></span>
                                        <span class="all_next"></span>
                                    </div>
                                </div>
                                <div class="hot_banner_page">
                                    <ul class="hot_smallIndex">
                                        <li class="all_active"><a href="#" ></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="hot_ptShow">
                            <div class="ht_ptShow_l"></div>
                            <div class="ht_ptShow_r"></div>
                        </div>
                        <div class="hot_brandLogo">
                            <div class="ht_brandLogo_wrap"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sale panel_z">
                <div class="sale_wrap">
                    <div class="sale_wrap_">
                        <div class="sale_header">
                            <div class="sale_header_l">
                                <h3>
                                    <a href="#">
                                        闪购特惠
                                        <span class="sale_header_icon"></span>
                                    </a>
                                </h3>
                            </div>
                            <div class="sale_header_r"></div>
                        </div>
                        <div class="sale_banner">
                            <div class="sale_banner_">
                                <div class="sale_banner_view">
                                    <div class="sale_banner_view_pt"></div>
                                    <div class="sale_banner_control">
                                        <span class="all_prev"></span>
                                        <span class="all_next"></span>
                                    </div>
                                </div>
                                <div class="sale_banner_page">
                                    <ul class="sale_smallIndex">
                                        <li class="all_active"><a href="#" ></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="sale_ptShow">
                            <div class="sl_ptShow_l">

                            </div>
                            <div class="sl_ptShow_r">

                            </div>
                        </div>
                        <div class="sale_brandLogo">
                            <div class="sl_brandLogo_wrap">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new panel_z">
                <div class="new_wrap">
                    <div class="new_wrap_">
                        <div class="new_header">
                            <div class="new_header_l">
                                <h3>
                                    <a href="#">
                                        新品首发
                                        <span class="new_header_icon"></span>
                                    </a>
                                </h3>
                            </div>
                            <div class="new_header_r"></div>
                        </div>
                        <div class="new_banner">
                            <div class="new_banner_">
                                <div class="new_banner_view">
                                    <div class="new_banner_view_pt">

                                    </div>
                                    <div class="new_banner_control">
                                        <span class="all_prev"></span>
                                        <span class="all_next"></span>
                                    </div>
                                </div>
                                <div class="new_banner_page">
                                    <ul class="new_smallIndex">
                                        <li class="all_active"><a href="#" ></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                        <li><a href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="new_ptShow">
                            <div class="nw_ptShow_l">

                            </div>
                            <div class="nw_ptShow_r">

                            </div>
                        </div>
                        <div class="new_brandLogo">
                            <div class="nw_brandLogo_wrap">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="brand panel_z">
                <div class="brand_wrap">
                    <div class="brand_header">
                        <div class="brand_header_l">
                            <h3>
                                <a href="#">
                                    品牌馆
                                    <span class="brand_header_icon"></span>
                                </a>
                            </h3>
                        </div>
                        <div class="brand_header_r"></div>
                    </div>
                    <div class="brand_msg">

                    </div>
                </div>

            </div>
            <div class="like panel_z">
                <div class="like_wrap">
                    <div class="like_header">
                        <div class="like_header_l">
                            <h3>
                                <a href="#">
                                    猜你喜欢
                                    <span class="like_header_icon"></span>
                                </a>
                            </h3>
                        </div>
                        <div class="like_header_r"></div>
                    </div>
                    <div class="like_guess">
                        <div class="lk_guess_l">

                        </div>
                        <div class="lk_guess_r">
                            <div class="lk_guess_r_wrap">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="share panel_z">
                <div class="share_wrap">
                    <div class="share_header">
                        <div class="share_header_l">
                            <h3>
                                <a href="#">
                                    晒单作业
                                    <span class="share_header_icon"></span>
                                </a>
                            </h3>
                        </div>
                        <div class="like_header_r"></div>
                    </div>
                    <div class="shareShow">

                    </div>
                </div>
             </div>
            <div class="shop_news panel_z">
                <div class="shop_news_wrap">
                    <div class="shop">
                        <div class="shop_header">
                            <div class="shop_header_l">
                                <h3>
                                    <a href="#">
                                        万表实体店
                                        <span class="shop_header_icon"></span>
                                    </a>
                                </h3>
                            </div>
                            <div class="shop_header_r"></div>
                        </div>
                        <a href="#">
                            <img src="/static/img/shopImg1.png" alt="">
                        </a>
                        <div class="shop_city">
                            <a href="#">北京</a>
                            <a href="#">广州</a>
                            <a href="#">上海</a>
                            <a href="#">惠洲</a>
                            <a href="#">长沙</a>
                            <a href="#">茂名</a>
                            <a href="#">内蒙古</a>
                            <a href="#">更多</a>
                        </div>
                    </div>
                    <div class="news">
                        <div class="news_header">
                            <div class="news_header_l">
                                <h3>
                                    <a href="#">
                                        腕表资讯
                                        <span class="news_header_icon"></span>
                                    </a>
                                </h3>
                            </div>
                            <div class="like_header_r"></div>
                        </div>
                        <div class="newsList">
                            <ul>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="qrCode panel_z">
                <div class="qrCode_wrap">
                    <div class="qrCode_wrap_Sort">

                    </div>

                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel_wrap">
                <a href="#" class="panel_act">
                    热销
                    <i class="panel_i1"></i>
                </a>
                <a href="#" >
                    闪购
                    <i ></i>
                </a>
                <a href="#" >
                    新品
                    <i ></i>
                </a>
                <a href="#" >
                    品牌
                    <i ></i>
                </a>
                <a href="#" >
                    喜欢
                    <i ></i>
                </a>
                <a href="#" >
                    晒单
                    <i ></i>
                </a>
                <a href="#" >
                    资讯
                    <i ></i>
                </a>
            </div>
        </div>
        <!--内容部分结束-->
{% endblock %}